<?xml version="1.0" encoding="UTF-8" ?>
<exercises>
  <% @exercises.each do |exer| %>
    <exercise id="<%= exer.id %>">
      <title><%= exer.title %></title>
      <description><%= exer.description%></description>
      <rating><%= exer.rating %></rating>
    </exercise>
  <% end %>
</exercises>