<nav class="navbar navbar-expand-md navbar-custom fixed-top text-center">
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag 'LogoSmall.png', size: '56', alt: 'Logo' %>
    Trainer
  </a>
  <ul class="navbar-nav mr-auto">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
</nav>
