<div>
  <h2>Hello, <%= current_user.username %>!</h2>
  <a href="<%= user_path(current_user.id) %>" class="btn btn-primary btn-lg active" role="button"
     aria-pressed="true">My
    profile</a>
</div>
<a href="<%= new_exercise_path %>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New
  exercises</a>
